{% if messages %}
<ul>
    {% for message in messages %}
    <div id="message" class="container">
        <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Error: {% endif %}
            {{message}}
        </div>
        </div>
    {% endfor %}
</ul>
{% endif %}
<!-- {% if messages %}
<div class="container">
    {% for message in messages %}
        <div class="alert-wrapper">
            <div class="alert alert-{{ message.tags }}" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <strong>Important:</strong>
                {% endif %}
                {{ message }}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %} -->